.login{
  border: 1px solid #6a3a0D;
  border-radius: 25px;
  width: 40%;
  height: 300px;
  margin: 0 auto;
  padding: 0 20px;
}
.margin{
  margin-top: 200px;
  margin-bottom: 200px;
}
.title{
  text-align: center;
  border-radius: 25px 25px 0 0;
  background-color: #6a3a0D;
  color:#fff;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0 -20px;
}
input[type="button"]{
  display: block;
  margin: 0 auto;
}
.member{
  a{
    color:blue;
    text-decoration: none;
    &:hover{
      color:darkblue;
    }
  }
}