<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="navOuter">
      <div class="container">
        <nav>
          <a href="index.html"><img src="./assets/images/logo.png" alt="logo"></a>
          <div>
            <ul>
              <li><a href="main.html">冷便當食譜</a></li>
              <li><a href="qa.html">冷便當小教室</a></li>
              <li><a href="bookmark.html">我的收藏</a></li>
              <li><a href="login.html">會員登入</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="mobile">
        <div class="navMobile">
          <a class="pt-3 pb-3 ms-3" href="index.html"><img src="./assets/images/logo.png" alt="logo"></a>
          <div class="menu pt-3 me-3 pt-sm-4 me-sm-5"><i class="fa-solid fa-bars"></i>
          </div>
        </div>
        <ul class="navBar">
          <li><a href="main.html">冷便當食譜</a></li>
          <li><a href="qa.html">冷便當小教室</a></li>
          <li><a href="bookmark.html">我的收藏</a></li>
          <li><a href="login.html">會員登入</a></li>
        </ul>
      </div>
    </div>


    <%- contents %>

    <footer class="footer p-3">
      此專題僅為面試作品所用，非商業營利性質
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="./assets/js/all.js"></script>
    <script>
      $(function () {
        $(".navBar").hide();
        $(".fa-bars").click(function () {
          $(".fa-bars").toggleClass('fa-xmark')
          $(".navBar").slideToggle();
        })
      })
    </script>
  </body>

</html>